<!DOCTYPE html>
<html>
<head>
  <title>History</title>
  <%= stylesheet_link_tag    "history/application" %>
  <%= javascript_include_tag "history/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
