<!DOCTYPE html>
<html>
<head>
  <title>HistoryEngine</title>
  <%= stylesheet_link_tag    "acts_as_historical/application" %>
  <%= javascript_include_tag "acts_as_historical/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
